@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

/*font-family: 'Playfair Display', serif;*/

@import "normalize/reset";
@import "utilities/color";

body {
    overflow-x: hidden;
    background-color: $colorGris;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
}

/*--------- header comienzo-------------*/
@import "components/navbar";
@import "components/jumbotron";

/*---------info pedidos inicio---------*/
.infoPedidos {
    width: 100%;
    background-color: #d8d6d5;
    border: $colorBordoClaro solid 1px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: bolder;

    a {
        text-decoration: none;
        color: $colorBordoClaro;

        span {
            display: inline-block;
        }
    }
    a:hover {
        color: $colorBlanco;
        text-decoration: none;
    }
}
.infoPedidos:hover {
    background-color: #b63434;
    border: solid 2px black;
    transform: scaleY(1.1);
}
/*---------info pedidos inicio---------*/
/*--------- header fin ----------------*/

/*-----------------comienzo main index-------------------*/
.sec-index{
    color: $colorBlanco;
    margin: 5% 10%;
    border: $colorBlanco 2px solid;
    min-height: 40vh;
    background-color: rgb(121, 119, 119);

    h2 {
        text-align: center;
        background-color: $colorBordoClaro;
        padding: 10px;
        text-shadow: 0 0 5px $colorGris;
        border: $colorBlanco 2px solid;
    }
    .fila-index{
        .text-sec-index{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            
            h3{
                color: #f38383;
                text-align: center;
                padding: 15px;
                text-shadow: 0 0 5px $colorBordoClaro;
            }
            p{
                padding: 10px 20px;
                font-size: 1.25rem;
                text-align: center;
            }
            .boton-index {
                font-size: 2rem;
                background-color: $colorBordoClaro;
                border: solid 3px $colorBlanco;
                border-radius: 10%;
                margin: 20px;
            }
            .boton-index:hover {
                background-color: $colorBordo;
                border: solid 4px $colorBlanco;
                transform: scale(1.1);
                color: $colorBlanco;
                text-decoration: none;
            }
        }
        .img-sec-index {
            .logoViejo-index{
                padding: 20px;
                border-radius: 10%;
            }
            .img-carousel-index{
                width: 100%;
                height: 40vh;
                padding: 10px;
                border-radius: 10%;
            }
            i{
                color: $colorBlanco;
                font-size: 100px;
                padding: 10px;
            }
        }
    }
}
/*-----------------fin main index-------------------*/

/*-----------------comienzo main productos-------------------*/
.sec-prod{
    border:$colorBlanco double 0.6rem;
    margin: 3%;
    background-color: $colorBordo;
    padding: 3%; width: 90%;

    .titulo-prod{
        text-align: center;
        background-color: $colorBordo;
        color: $colorBlanco;
        padding: 3%;
    }
    .carousel{
        .img-carousel-prod{
            width: 90%;
            height: 35vh;
        }
        .carousel-caption {
            a {
                button {
                    font-size: 2rem;
                    background-color: $colorBordoClaro;
                    border: solid 3px $colorBlanco;
                    border-radius: 10%;
                }
                button:hover {
                    background-color: $colorBordo;
                    border: solid 4px $colorBlanco;
                    transform: scale(1.1);
                    color: $colorBlanco;
                    text-decoration: none;
                }
            }
            a:hover {
                text-decoration: none;
            }
        }
    }
}
/*-----------------fin main productos-------------------*/

/*-----------------comienzo main galeria-------------------*/
.galeria {
    width: 100%;
    height: auto;
    background-color: rgb(214, 214, 214);
    padding: 20px;
    min-height: 100vh;

    .item {
        height: 300px;
        border: 2px solid $colorBlanco;
        margin: 20px;
        box-shadow: 2px 2px 5px #333;
        background-position: center;
        background-size: cover;
    }
    .item:hover {
        transform: scale(1.05);
        transition: all 0.7s;
    }
    .item1 {
        background-image: url(../assets/img/lemonPie.png);
    }
    .item2 {
        background-image: url(../assets/img/tortaPanda.png);
    }
    .item3 {
        background-image: url(../assets/img/tortaGolondrinas.png);
    }
    .item4 {
        background-image: url(../assets/img/cookies.png);
    }
    .item5 {
        background-image: url(../assets/img/cajaUno.png);
    }
    .item6 {
        background-image: url(../assets/img/brownie.png);
    }
    .item7 {
        background-image: url(../assets/img/muffins.png);
    }
    .item8 {
        background-image: url(../assets/img/alfajores.png);
    }
}
/*-----------------fin main galeria-------------------*/

/*-----------------comienzo main sobre mi-------------------*/
.mainSobreMi {
    background-image: url(../assets/img/cookies.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;

    .contenedorSobreMi {
        background-color: $colorBordoClaro;
        border: $colorBlanco solid 1px;
        width: 100%;
        height: auto;
        text-align: center;
        color: $colorBlanco;
        align-self: center;
        border-radius: 10%;
        margin: 40px 25px;

        h4 {
            padding: 10px;
            font-size: 40px;
            line-height: 0.8;

            span {
                display: block;
                padding: 10px;
                font-size: 20px;
            }
        }
        p {
            padding: 5px;
            font-size: 16px;
            line-height: 1.8;
            border: $colorBlanco solid 1px;
            margin: 20px;
        }
    }
    .imgSobreMi {
        background-image: url(../assets/img/logoVIejo.png);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;
        border: black solid 1px;
        color: $colorBlanco;
        border-radius: 10%;
        margin: 20px;
        padding: 25px;
        display: none;
    }
}
/*-----------------fin main sobre mi-------------------*/

/*-----------------comienzo main contacto-------------------*/
.mainContacto {
    background-image: url(../assets/img/cookies.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .datos {
        height: auto;
        background-color: $colorGris;
        border: $colorBlanco solid 1px;
        color: $colorBlanco;
        border-radius: 10%;
        margin: 20px;
        padding: 25px;
        font-size: 20px;
        align-self: center;
        justify-content: space-evenly;
        display: none;

        a {
            color: $colorBlanco;
            text-decoration: none;
        }
        a:hover {
            color: #cd34fc
        }
    }
    .contForm {
        height: auto;
        background-color: $colorBordoClaro;
        border: $colorBlanco solid 1px;
        color: $colorBlanco;
        align-self: center;
        border-radius: 10%;
        margin: 30px 20px;
        padding: 15px;
        font-size: 20px;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .textoForm {
            margin: 5px 0px;
            padding: 5px 0px;
        }
        .complForm {
            margin: 5px 0px;
            padding: 5px 0px;
            width: 100%;
        }
        input {
            transition: all 1s;
        }
        input:focus {
            font-size: 22px;
            border: 5px $colorBordo solid;
            color: $colorBordo;
        }
        .botonEnviar {
            background-color: $colorGris;
            color: $colorBlanco;
            padding: 5px 10px;
            font-size: 16px;
            border: solid 2px $colorBlanco;
        }
        .botonEnviar:hover {
            background-color: $colorBordo;
            transform: scale(1.2);
        }
    }
}
/*-----------------fin main contacto-------------------*/

/*-----------------comienzo FOOTER-------------------*/
.footer {
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 15px;
    background-color: #0e0c0b;
    border: $colorBlanco solid 2px;

    .contactoFooter {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        color: $colorBlanco;
        font-size: 16px;
        justify-content: space-evenly;
        text-align: center;
        align-self: center;
        padding: 5px;
        line-height: 30px;

        h6 {
            font-size: 18px;
        }
        p span {
            display: block;
        }
        .redesFooter {
            font-size: 18px;

            i {
                font-size: 16px;
                color: $colorBlanco;
                padding: 0px 10px;
            }
            i:hover {
                color: #df3030;
            }
        }
    } 
    .lista {
        display: none;

        ul {
            list-style: none;
            font-size: 0;
            align-items: center;
            color: $colorBlanco;
            align-self: center;
        }
        li a {
            text-decoration: none;
            color: $colorBlanco;
            font-size: 20px;
            padding: 20px;
        }
        li a:hover {
            color: #df3030;
        }
    }
    .logoFooter {
        display: none;
        font-size: 20px;
        color: $colorBlanco;
        justify-content: space-around;
        text-align: center;
        align-self: center;
        
        p a {
            font-size: 20px;
            text-decoration: none;
            color: $colorBlanco;
        }
        p a:hover {
            color: #df3030;
        }
    }
    #copyrigth {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: black;
        color: $colorBlanco;
    }
}
/*-----------------fin FOOTER-------------------*/
/*---------comienzo boton subir----------------*/
.subir {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: $colorBordo;
    position: fixed;
    bottom: 5%;
    right: 5%;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    border: $colorBlanco solid 3px;
    box-shadow: 0 0 5px $colorBlanco;
    z-index: 15;

    i {
        color: $colorBlanco;
    }
}
/*---------fin boton subir----------------*/

@import "views/queries";