.navbar {
    background-color: #23201f;
    z-index: 99;

    .navbar-brand {
        display: flex;

        .logo {
            width: 4rem;
            margin: 10%;
        }
        h2{
            display: inline-block;
            font-style: italic;
            text-shadow: 0 0 25px $colorBordoClaro;
            margin: 10px 5px;

            span{
                display: block;
                padding-left: 25px;
            }
        }
    }
    .navbar-brand:hover {
        transform: scale(1.1);
    }
    .navbar-toggler:hover {
        transform: scale(1.2);
    }
    .navbar-collapse{
        .dropdown-item {
            color: $colorBlanco;
        }
        .dropdown-item:hover{
            background-color: $colorBordoClaro;
        }
        .submenu-item {
            padding: 0 5%;
            color: coral;
        }
        .submenu-item:hover {
            background-color: coral;
        }
        .redesNav {
            display: block;
            width: 100%;
            padding: 0.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: #212529;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
        }
        .redesNav-item {
            color: #fff;
            padding: 0.5rem;
        }
        .redesNav-item:hover,
        .redesNav-item:focus {
            color: $colorBlanco;
            text-decoration: none;
            background-color: $colorBordoClaro;
        }
    }
}
